<!--

<nav class="bg-gray-800 text-white p-4 flex justify-center items-center">
  <ul class="flex space-x-8">


    <li class="relative"><a href="/home" class="hover:text-gray-400">Inicio</a></li>
    <li *ngIf="isAdmin()" class="relative"><a href="/students/list" class="hover:text-gray-400">Perfil</a></li>
    <li *ngIf="isAdmin()" class="relative"><a href="/feedback/list" class="hover:text-gray-400">Feedback</a></li>

    <li *ngIf="isUser()" class="relative"><a href="/activities/list" class="hover:text-gray-400">Areas</a></li>

    <li *ngIf="isUser()" class="relative"><a href="/students/list" class="hover:text-gray-400">Perfil</a></li>

    <li *ngIf="isUser()" class="relative"><a href="/recommendation/alert" class="hover:text-gray-400">Alerta</a></li>

    <li *ngIf="isAdmin() || isUser()">
      <a  (click)="logout()" class="hover:text-gray-400">Cerrar Sesión</a>
    </li>
  </ul>
</nav>
<div *ngIf="isAdmin() || isUser()" class="text-end m-4">
  <h1 >Perfil {{getProfile()}}</h1>
</div>
 -->



 <nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <ul class="flex space-x-8">
    <li class="relative"><a href="/home" class="hover:text-gray-400">Inicio</a></li>
    <li *ngIf="isAdmin()" class="relative"><a href="/students/list" class="hover:text-gray-400">Perfil</a></li>
    <li *ngIf="isAdmin()" class="relative"><a href="/feedback/list" class="hover:text-gray-400">Feedback</a></li>
    <li *ngIf="isUser()" class="relative"><a href="/activities/list" class="hover:text-gray-400">Feedback</a></li>
    <li *ngIf="isUser()" class="relative"><a href="/students/list" class="hover:text-gray-400">Perfil</a></li>
    <li *ngIf="isUser()" class="relative"><a href="/recommendation/alert" class="hover:text-gray-400">Alerta</a></li>
    <li *ngIf="isAdmin() || isUser()">
      <a (click)="logout()" class="hover:text-gray-400">Cerrar Sesión</a>
    </li>
    <li *ngIf="!(isAdmin() || isUser())">
      <a (click)="logout()" class="hover:text-gray-400">Iniciar Sesión</a>
    </li>
  </ul>
  <!-- Imagen y nombre del perfil -->
  <div *ngIf="isAdmin() || isUser()" class="flex items-center space-x-4">
    <img [src]="getProfileImage()" alt="Usuario" class="w-10 h-10 rounded-full border-2 border-white">
    <h1 class="text-xl" style="margin: 10px; text-align: center;">Perfil {{getProfile()}}</h1>
  </div>
</nav>
