
<!--
<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="loginForm.get('email')?.invalid">Email es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="loginForm.get('password')?.invalid">Contraseña es obligatoria.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <br>
    <div class="forgot-password-link">
      <a (click)="onForget()">¿Olvidaste tu contraseña?</a>
    </div>

  </form>
</div> -->







<div class="login-wrapper">
  <div class="login-container">
    <div class="login-header">
      <div class="logo-container">
        <mat-icon class="logo-icon">school</mat-icon>
        <span class="logo-text">MiRuta</span>
      </div>
      <h1 class="login-title">Iniciar Sesión</h1>
      <p class="login-subtitle">Ingresa tus credenciales para acceder al sistema</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <mat-form-field class="form-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-icon matPrefix>alternate_email</mat-icon>
        <mat-error *ngIf="loginForm.get('email')?.invalid">
          Por favor ingresa un correo válido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          La contraseña es requerida
        </mat-error>
      </mat-form-field>



      <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid">
        <mat-icon>login</mat-icon>
        INGRESAR
      </button>

      <div *ngIf="errorMessage" class="error-message">
        <mat-icon>error_outline</mat-icon>
        {{ errorMessage }}
      </div>

      <div class="form-options" >
        <a class="forgot-password" (click)="onForget()">¿Olvidaste tu contraseña?</a>
      </div>
    </form>

    <!-- <div class="login-footer">
      <p>¿No tienes una cuenta? <a class="register-link" [routerLink]="['/register']">Regístrate aquí</a></p>
    </div> -->
  </div>
</div>
